﻿<h2>Contacts</h2>
<form name="myForm" id="myForm" class="form-inline">
    <div class="form-group">
        <label for="FirstName">FirstName:</label>
        <input type="text" class="form-control" name="FirstName" id="FirstName" ng-model="FirstName">
    </div>
    <div class="form-group">
        <label for="LastName">LastName:</label>
        <input type="text" class="form-control" name="LastName" id="LastName" ng-model="LastName">
    </div>
    <div class="form-group">
        <label for="Tag">Tag:</label>
        <input type="text" class="form-control" name="Tag" id="Tag" ng-model="Tag">
    </div>
    <button ng-click="submitData()" class="btn btn-default">Submit</button>
    <button ng-click="resetData()" class="btn btn-default">Reset</button>
</form>
<hr />
<ul>
    <li>
        <a href="#!newcontact">new</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>DateCreated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in myData">
            <td><a ng-href="#!viewcontact/id/{{ x.ContactID }}">{{ x.ContactID }}</a></td>
            <td>{{ x.FirstName }}</td>
            <td>{{ x.LastName }}</td>
            <td>{{ x.Address }}</td>
            <td>{{ x.DateCreated }}</td>
            <td>
                <ul>
                    <li>
                        <a ng-href="#!viewcontact/id/{{ x.ContactID }}">show</a>
                    </li>
                    <li>
                        <a ng-href="#!editcontact/id/{{ x.ContactID }}">edit</a>
                    </li>
                    <li>
                        <a ng-href="#!phones/contact/{{ x.ContactID }}">phones</a>
                    </li>
                    <li>
                        <a ng-href="#!emails/contact/{{ x.ContactID }}">emails</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<!--<div>

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{fullName()}}

</div>-->
