﻿<h2>Emails</h2>
<ul>
    <li>
        <a ng-href="#!newemail/contact/{{ contactID }}">new</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>EmailAddress</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in myData2">
            <td><a ng-href="#!viewemail/contact/{{ contactID }}/id/{{ x.EmailID }}">{{ x.EmailID }}</a></td>
            <td>{{ x.EmailAddress }}</td>
            <td>
                <ul>
                    <li>
                        <a ng-href="#!viewemail/contact/{{ contactID }}/id/{{ x.EmailID }}">show</a>
                    </li>
                    <li>
                        <a ng-href="#!editemail/contact/{{ contactID }}/id/{{ x.EmailID }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

