﻿<h2>Contacts</h2>
<dl>
    <dt>
        ContactID:
    </dt>
    <dd>
        {{ ContactID }}
    </dd>
    <dt>
        FirstName:
    </dt>
    <dd>
        {{ FirstName }}
    </dd>
    <dt>
        LastName:
    </dt>
    <dd>
        {{ LastName }}
    </dd>
    <dt>
        Address:
    </dt>
    <dd>
        {{ Address }}
    </dd>
</dl>
<button ng-click="deleteData()" class="btn btn-default">Delete</button>
<hr />
<h2>Tags</h2>
<ul>
    <li>
        <a ng-href="#!newtag/contact/{{ ContactID }}">new</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in myData2">
            <td><a ng-href="#!viewtag/contact/{{ ContactID }}/id/{{ x.TagID }}">{{ x.TagID }}</a></td>
            <td>{{ x.Title }}</td>
            <td>
                <ul>
                    <li>
                        <a ng-href="#!viewtag/contact/{{ ContactID }}/id/{{ x.TagID }}">show</a>
                    </li>
                    <li>
                        <a ng-href="#!edittag/contact/{{ ContactID }}/id/{{ x.TagID }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

