﻿<h2>Emails</h2>
<dl>
    <dt>
        EmailID:
    </dt>
    <dd>
        {{ EmailID }}
    </dd>
    <dt>
        EmailAddress:
    </dt>
    <dd>
        {{ EmailAddress }}
    </dd>
    <dt>
        ContactID:
    </dt>
    <dd>
        {{ ContactID }}
    </dd>
</dl>
<button ng-click="deleteData()" class="btn btn-default">Delete</button>