﻿<h2>Phones</h2>
<dl>
    <dt>
        PhoneID:
    </dt>
    <dd>
        {{ PhoneID }}
    </dd>
    <dt>
        Number:
    </dt>
    <dd>
        {{ Number }}
    </dd>
    <dt>
        ContactID:
    </dt>
    <dd>
        {{ ContactID }}
    </dd>
</dl>
<button ng-click="deleteData()" class="btn btn-default">Delete</button>