﻿<h2>Tags</h2>
<dl>
    <dt>
        TagID:
    </dt>
    <dd>
        {{ TagID }}
    </dd>
    <dt>
        Title:
    </dt>
    <dd>
        {{ Title }}
    </dd>
    <dt>
        ContactID:
    </dt>
    <dd>
        {{ ContactID }}
    </dd>
</dl>
<button ng-click="deleteData()" class="btn btn-default">Delete</button>