﻿<h2>Phones</h2>
<ul>
    <li>
        <a ng-href="#!newphone/contact/{{ contactID }}">new</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in myData2">
            <td><a ng-href="#!viewphone/contact/{{ contactID }}/id/{{ x.PhoneID }}">{{ x.PhoneID }}</a></td>
            <td>{{ x.Number }}</td>
            <td>
                <ul>
                    <li>
                        <a ng-href="#!viewphone/contact/{{ contactID }}/id/{{ x.PhoneID }}">show</a>
                    </li>
                    <li>
                        <a ng-href="#!editphone/contact/{{ contactID }}/id/{{ x.PhoneID }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
