﻿<h2>Tags</h2>
<form name="myForm" id="myForm">
    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" class="form-control" name="Title" id="Title" ng-model="Title" required>
    </div>
    <input type="hidden" name="ContactID" id="ContactID" ng-model="ContactID" required>
    <button ng-click="submitData()" class="btn btn-default">Submit</button>
</form>
