﻿<h2>Emails</h2>
<form name="myForm" id="myForm">
    <div class="form-group">
        <label for="EmailAddress">EmailAddress:</label>
        <input type="text" class="form-control" name="EmailAddress" id="EmailAddress" ng-model="EmailAddress" required>
    </div>
    <input type="hidden" name="ContactID" id="ContactID" ng-model="ContactID" required>
    <button ng-click="submitData()" class="btn btn-default">Submit</button>
</form>
