﻿<h2>Phones</h2>
<form name="myForm" id="myForm">
    <div class="form-group">
        <label for="Number">Number:</label>
        <input type="text" class="form-control" name="Number" id="Number" ng-model="Number" required>
    </div>
    <input type="hidden" name="ContactID" id="ContactID" ng-model="ContactID" required>
    <button ng-click="submitData()" class="btn btn-default">Submit</button>
</form>
