﻿<h2>Contacts</h2>
<form name="myForm" id="myForm">
    <div class="form-group">
        <label for="FirstName">FirstName:</label>
        <input type="text" class="form-control" name="FirstName" id="FirstName" ng-model="FirstName" required>
    </div>
    <div class="form-group">
        <label for="LastName">LastName:</label>
        <input type="text" class="form-control" name="LastName" id="LastName" ng-model="LastName" required>
    </div>
    <div class="form-group">
        <label for="Address">Address:</label>
        <input type="text" class="form-control" name="Address" id="Address" ng-model="Address" required>
    </div>
    <button ng-click="submitData()" class="btn btn-default">Submit</button>
</form>


