﻿    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/!">Contacts</a>
            </div>            
        </div>
    </nav>    
    <div class="row">
        <div class="col-md-12">
            <div ng-view></div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", ["ngRoute"]);
        app.config(function ($routeProvider) {
            $routeProvider
            .when("/", {
                templateUrl: "@(ViewBag.AppFolder)contacts.html",
                controller: "contactsCtrl"
            })
            .when("/newcontact", {
                templateUrl: "@(ViewBag.AppFolder)postcontact.html",
                controller: "postContactCtrl"
            })
            .when("/editcontact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)putcontact.html",
                controller: "putContactCtrl"
            })
            .when("/viewcontact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)getcontact.html",
                controller: "getContactCtrl"
            })
            .when("/phones/contact/:contact", {
                templateUrl: "@(ViewBag.AppFolder)phones.html",
                controller: "phonesCtrl"
            })
            .when("/newphone/contact/:contact", {
                templateUrl: "@(ViewBag.AppFolder)postphone.html",
                controller: "postPhoneCtrl"
            })
            .when("/editphone/contact/:contact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)putphone.html",
                controller: "putPhoneCtrl"
            })
            .when("/viewphone/contact/:contact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)getphone.html",
                controller: "getPhoneCtrl"
            })
            .when("/emails/contact/:contact", {
                templateUrl: "@(ViewBag.AppFolder)emails.html",
                controller: "emailsCtrl"
            })
            .when("/newemail/contact/:contact", {
                templateUrl: "@(ViewBag.AppFolder)postemail.html",
                controller: "postEmailCtrl"
            })
            .when("/editemail/contact/:contact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)putemail.html",
                controller: "putEmailCtrl"
            })
            .when("/viewemail/contact/:contact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)getemail.html",
                controller: "getEmailCtrl"
            })
            .when("/newtag/contact/:contact", {
                templateUrl: "@(ViewBag.AppFolder)posttag.html",
                controller: "postTagCtrl"
            })
            .when("/edittag/contact/:contact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)puttag.html",
                controller: "putTagCtrl"
            })
            .when("/viewtag/contact/:contact/id/:id", {
                templateUrl: "@(ViewBag.AppFolder)gettag.html",
                controller: "getTagCtrl"
            });
        });
    </script>
    <script src="@(ViewBag.AppFolder)contactsController.js"></script>
    <script src="@(ViewBag.AppFolder)postContactController.js"></script>
    <script src="@(ViewBag.AppFolder)putContactController.js"></script>
    <script src="@(ViewBag.AppFolder)getContactController.js"></script>
    <script src="@(ViewBag.AppFolder)phonesController.js"></script>
    <script src="@(ViewBag.AppFolder)postPhoneController.js"></script>
    <script src="@(ViewBag.AppFolder)putPhoneController.js"></script>
    <script src="@(ViewBag.AppFolder)getPhoneController.js"></script>
    <script src="@(ViewBag.AppFolder)emailsController.js"></script>
    <script src="@(ViewBag.AppFolder)postEmailController.js"></script>
    <script src="@(ViewBag.AppFolder)putEmailController.js"></script>
    <script src="@(ViewBag.AppFolder)getEmailController.js"></script>
    <script src="@(ViewBag.AppFolder)postTagController.js"></script>
    <script src="@(ViewBag.AppFolder)putTagController.js"></script>
    <script src="@(ViewBag.AppFolder)getTagController.js"></script>

    <!--<div class="jumbotron">
        <div ng-app="myApp" ng-controller="personCtrl">

            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{fullName()}}

        </div>
    </div>-->
    <!--<script src="/personController.js"></script>-->
    <!--<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>-->
    <!--<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>-->
